/* '*'는 모든 요소를 선택해주는 선택자
*::before
*::after
가상요소를 설정한다.
*{

} */

*,
*::before,
*::after {
  box-sizing: border-box;
}
.header {
  background: aqua;
}
.hero-section {
  background: skyblue;
}
.main-content {
  float: left;
  width: 70%;
  background: pink;
}
.side-content {
  float: right;
  width: 30%;
  background: yellow;
}
.footer {
  background: green;
}
